s server platform is {{ansible_distribution}} </h1>
<h1>this server host name is {{ansible_hostname}} </h1>
<h1>thi server package manager is {{ansible_pkg_mgr}} </h1>
<h1> this server is managerd by user {{user_name}} </h1>
</center>
